<div class="control-tower-description col-md-9">{{ invType.description }}</div>
<div posfit-control-tower-attributes
     data-type-id="invType.typeID"
     data-parent-type-id="parentInvType.typeID"
     class="col-md-3 panel control-tower-attributes">
</div>
