<h5 class="text-center">Attributes</h5>
<div data-ng-repeat="attribute in attributes">
    <div>
        <img data-ng-src="/images/icon{{ attribute.icon }}.png"
             data-ng-if="null !== attribute.icon "
             tooltip="{{ attribute.name }}" data-tooltip-placement="top" />
        <span data-ng-if="!attribute.isString()">{{ attribute.value | gbsNumberFormat }}{{ attribute.unit }}</span>
        <span data-ng-if="attribute.isString()">{{ attribute.value }}{{ attribute.unit }}</span>
    </div>
</div>
<div>
    <img data-ng-src="http://image.eveonline.com/Type/{{ controlTowerResources.fuel.typeID }}_32.png"
         class="control-tower-fuel-icon-sm"
         tooltip="Fuel: {{ controlTowerResources.fuel.typeName }}"
         data-tooltip-placement="top" />
    <span data-ng-class="{ 'text-info': isCaldari, 'text-danger': isMinmatar, 'text-amarr': isAmarr, 'text-success': isGallente}">
        {{ controlTowerResources.fuelPerHour }} / Hour
    </span>
</div>
<div>
    <img data-ng-src="http://image.eveonline.com/Type/{{ controlTowerResources.reinforceFuel.typeID }}_32.png"
         class="control-tower-fuel-icon-sm"
         tooltip="Reinforce: {{ controlTowerResources.reinforceFuel.typeName }}"
         data-tooltip-placement="top" />
    <span class="text-muted">
        {{ controlTowerResources.reinforcePerHour }} / Hour
    </span>
</div>
