<div class="modules" data-ng-controller="CurrentTowerModulesCtrl">
    <div data-ng-if="!currentTowerData.readOnly && null !== currentTowerData.serializedTowerString" class="input-group input-group-sm">
            <span class="input-group-addon">
                Permalink
            </span>
        <input type="text" class="form-control" readonly
               value="{{ url }}"
               data-ng-if="!currentTowerData.readOnly" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" clip-copy="url">
                    <span class="glyphicon glyphicon-save"></span> Copy
                </button>
            </span>
    </div>
    <ul class="list-group">
        <li data-ng-repeat="module in modules" class="list-group-item">
            <div class="pull-right" data-ng-if="!currentTowerData.readOnly">
                <button class="btn btn-default"
                        data-ng-click="incrementModule(module)"
                        data-ng-mouseenter="mouseOverHandler(module.getInvType().typeID, 1)"
                        data-ng-mouseleave="mouseOutHandler(module.getInvType().typeID)">&plus;</button>
                <button class="btn btn-default"
                        data-ng-click="decrementModule(module)"
                        data-ng-mouseenter="mouseOverHandler(module.getInvType().typeID, -1)"
                        data-ng-mouseleave="mouseOutHandler(module.getInvType().typeID)"
                        >&ndash;</button>
                    <span data-ng-mouseenter="mouseOverHandler(module.getInvType().typeID, -module.getQuantity())"
                          data-ng-mouseleave="mouseOutHandler(module.getInvType().typeID); confirmDeletion = false">
                        <button class="btn btn-default" data-ng-click="confirmDeletion = true" data-ng-hide="confirmDeletion">&times;</button>
                        <button class="btn btn-danger"
                                data-ng-click="removeModule(module)"
                                data-ng-show="confirmDeletion">
                            &times;
                        </button>
                    </span>
            </div>
            <span class="h5">
                <img data-ng-src="https://image.eveonline.com/Type/{{ module.getInvType().typeID }}_64.png" class="inv-type-icon" />
                {{ module.getQuantity() | gbsNumberFormat }}&times;
                {{ module.getInvType().typeName }}
            </span>
        </li>
    </ul>
</div>