<div ng-controller="CurrentTowerInfoCtrl">
    <div class="pull-left starbase-info-left">
        <img data-ng-src="https://image.eveonline.com/Type/{{ typeId }}_64.png" class="pull-left"/>
    </div>
    <div class="pull-left starbase-info-right">
        <div class="pull-right" data-ng-if="!readOnly">
            <button class="btn btn-sm btn-info" data-ng-click="changeTowerType()">Change Tower Type</button>
        </div>
        <div><h4>{{ typeName }}</h4></div>
        <div tooltip="CPU" data-tooltip-placement="left" class="clearfix">
            <posfit-progress-bar tower="tower" amount="cpu" max="tower.getMaxCpu()" unit="getAttribute('cpu').unit.displayName" color="progress-bar-info">
            </posfit-progress-bar>
        </div>
        <div tooltip="Power Grid" data-tooltip-placement="left">
            <posfit-progress-bar tower="tower" amount="power" max="tower.getMaxPower()" unit="getAttribute('power').unit.displayName" color="progress-bar-success">
            </posfit-progress-bar>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="shield-information" data-ng-controller="CurrentTowerShieldCtrl">
    <div class="shield-information-container">
        <div class="shield-resonance"
             data-ng-repeat="resonance in resonances"
             tooltip="{{ getAttribute(resonance.towerAttributeName).displayName.trim() }}"
             data-tooltip-placement="top">
            <img data-ng-src="/images/icon{{ getAttribute(resonance.towerAttributeName).icon.iconFile }}.png" />
            <div class="progress">
                <span>{{ resonanceValues[resonance.towerAttributeName] | gbsPercentFormat:1 }}</span>
                <div class="progress-bar {{ resonance.decoratorClass }}" data-ng-style="{width: resonanceValues[resonance.towerAttributeName] + '%' }">
                </div>
            </div>
        </div>
    </div>
    <div class="shield-information-container shield-information-container-right">
        <div class="shield-ehp">
            Shield EHP: {{ ehp | gbsNumberFormat:0 }}
        </div>
        <div class="shield-damage-profile">
            Damage Profile:
            <div class="btn btn-default btn-xs dropdown-toggle {{ damagePattern.decoratorClass }}" dropdown dropdown-toggle>
                {{ damagePattern.name }} <span class="caret"></span>
                <ul class="dropdown-menu" role="menu">
                    <li data-ng-repeat="pattern in damagePatterns">
                        <a href data-ng-click="changeDamagePattern(pattern)">{{ pattern.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>