<div class="starbase-edit">
    <div class="sidebar">
        <div class="starbase-info">
            <ng-include src="'/partials/current-tower-info.html'"></ng-include>
        </div>
        <div ng-controller="ModuleSelectorCtrl" class="module-selector-container">
            <div class="module-filter input-group input-group-sm {{ filterInputClass }}">
                <input type="text" class="form-control" placeholder="Filter Modules By Name..."
                       data-ng-model="filter"
                       data-ng-change="applyFilter()"
                       data-focus-on="module-filter" />
                <span class="input-group-btn">
                    <button class="btn btn-default"
                            data-ng-click="clearFilter()">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </span>
            </div>
            <div class="module-selector">
                <div class="list-group" data-ng-repeat="scaffold in scaffolding" data-ng-if="filteredModules.length < 1">
                    <posfit-module-group group-scaffold="scaffold"></posfit-module-group>
                </div>
                <div class="list-group filtered-module-container" data-ng-if="filteredModules.length > 0">
                    <div data-ng-repeat="invType in filteredModules">
                        <posfit-select-inv-type inv-type-scaffolding="{typeId: invType.typeID}"></posfit-select-inv-type>
                    </div>
                </div>
                <div class="module-selector-spacer">&nbsp;</div>
            </div>
        </div>
    </div>
    <div class="right-column">
        <ng-include src="'/partials/current-tower-modules.html'"></ng-include>
    </div>
    <div class="clear-fix"></div>
</div>
