<div class="modal-header">
    <h3 class="modal-title">Hold on a second...</h3>
</div>
<div class="modal-body">
    {{ message }}
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>