<ul>
    <li data-ng-if="suppressHeader === undefined"
        class="list-group-item active"
        data-ng-click="toggled = !toggled">
        {{ collection.label }}
    </li>
    <posfit-select-inv-type
        ng-show="!toggled"
        ng-if="collection.invTypes.length > 0"
        ng-repeat="invTypeScaffolding in collection.invTypes"
        inv-type-scaffolding="invTypeScaffolding">
    </posfit-select-inv-type>
</ul>