<li class="list-group-item inv-type"
    data-ng-click="selectModule(invType.typeID)"
    data-ng-mouseenter="mouseOverHandler(invType.typeID)"
    data-ng-mouseleave="mouseOutHandler(invType.typeID)">
    <div class="inv-type-container">

        <div class="inv-type-attribute-container">
            <div class="inv-type-cpu">
                <span class="label label-{{ 0 === invType.attributeDigest.cpu ? 'primary' : 'info' }}">
                    {{ invType.attributeDigest.cpu|gbsNumberFormat }} {{ getAttribute("cpu").unit.displayName }}
                </span>
            </div>
            <div class="inv-type-grid">
                <span class="label label-success">
                    {{ invType.attributeDigest.power|gbsNumberFormat }} {{ getAttribute("power").unit.displayName }}
                </span>
            </div>
        </div>
        <div class="inv-type-name-container">
            <img data-ng-src="https://image.eveonline.com/Type/{{ invType.typeID }}_64.png" class="inv-type-icon" />
            <div class="inv-type-name">
                {{ invType.typeName }}
            </div>
            <div class="inv-type-faction" data-ng-show="hasFaction">
                <span class="label label-faction"
                      data-ng-click="showFaction = !showFaction; $event.stopPropagation();">
                    <span data-ng-show="!showFaction">
                        Show Faction
                    </span>
                    <span data-ng-show="showFaction">
                        Hide Faction
                    </span>
                </span>
            </div>
        </div>
    </div>
</li>

<posfit-inv-type-collection
    ng-show="showFaction"
    ng-if="hasFaction"
    suppress-header="true"
    collection="invTypeScaffolding.children">
</posfit-inv-type-collection>
