<div data-ng-controller="LegalCtrl">
    <p>Starbase Planner, &copy; 2015 GBS Logistics and Fives Support</p>
    <p>
        EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide.
        All other trademarks are the property of their respective owners. EVE Online, the EVE logo, EVE and all
        associated logos and designs are the intellectual property of CCP hf. All artwork, screenshots, characters,
        vehicles, storylines, world facts or other recognizable features of the intellectual property relating to
        these trademarks are likewise the intellectual property of CCP hf. CCP hf. has granted permission to gbs.io
        to use EVE Online and all associated logos and designs for promotional and information purposes on its
        website but does not endorse, and is not in any way affiliated with, gbs.io. CCP is in no way responsible
        for the content on or functioning of this website, nor can it be liable for any damage arising from the
        use of this website.
    </p>

    <a href="#/edit" class="btn btn-primary btn-lg" data-ng-show="null !== tower">Resume Editing Tower</a>
</div>

