<ul>
    <li class="list-group-item active group-scaffolding"
        data-ng-click="toggled[groupScaffold.groupId] = !toggled[groupScaffold.groupId]"
        tooltip="Click to collapse and open"
        data-tooltip-placement="right">
        {{ groupScaffold.name }}
        <span class="badge" data-ng-show="toggled[groupScaffold.groupId]">
            {{ entryCount }} Hidden
        </span>
    </li>
    <posfit-module-group
        ng-show="!toggled[groupScaffold.groupId]"
        ng-if="groupScaffold.childGroups.length > 0"
        ng-repeat="scaffold in groupScaffold.childGroups"
        group-scaffold="scaffold">
    </posfit-module-group>
    <posfit-inv-type-collection
        ng-show="!toggled[groupScaffold.groupId]"
        ng-if="groupScaffold.invTypeCollections.length > 0"
        ng-repeat="collection in groupScaffold.invTypeCollections"
        collection="collection">
    </posfit-inv-type-collection>
    <posfit-select-inv-type
        ng-show="!toggled[groupScaffold.groupId]"
        ng-if="groupScaffold.invTypes.length > 0"
        ng-repeat="invTypeScaffolding in groupScaffold.invTypes"
        inv-type-scaffolding="invTypeScaffolding">
    </posfit-select-inv-type>
</ul>
