<div class="progress progress-striped progress-attribute">
    <span>
        {{ tower[amount]|gbsNumberFormat }} / {{ max|gbsNumberFormat }} {{ unit }}
        ({{ getPercentage(tower[amount], max, 2) | gbsPercentFormat:2}})
    </span>
    <div class="progress-bar {{ colorClass }}"
         data-ng-if="max !== 0"
         data-ng-show="tower[amount] > 0"
         data-ng-style="{width: getPercentage(tower[amount] + mainBarAugment, max) + '%'}"></div>
    <div data-ng-if="null !== mouseOverType"
         class="progress-bar active {{ addendumClass }}"
         data-ng-style="{width: mouseOverPercentage + '%'}">
    </div>
</div>