<div class="row tower-select">
    <div class="col-lg-2 visible-lg-block">&nbsp;</div>
    <div class="control-tower-select col-lg-8 col-xs-12"
         data-ng-controller="ControlTowerSelectCtrl">
        <h2 class="text-center">Control Tower Selection</h2>
        <div class="control-tower-size">
            <div class="text-center">
                <span data-ng-repeat="collection in controlTowers">
                    <button class="btn btn-primary btn-large"
                            data-ng-click="$parent.size = collection.label; clearControlTower();">
                        {{ collection.label }}
                    </button>
                </span>
            </div>
            <div class="control-tower-type" data-ng-show="undefined !== size">
                <div data-ng-repeat="collection in controlTowers" data-ng-show="$parent.size == collection.label">
                    <div class="row">
                        <div class="col-sm-3 text-center"
                             data-ng-repeat="invTypeScaffolding in collection.invTypes"
                             data-ng-init="invType = getInvType(invTypeScaffolding.typeId)">
                            <div class="well control-tower-well {{ $parent.$parent.selectedTypeId == invTypeScaffolding.typeId ? 'control-tower-selected' : '' }}"
                                 data-ng-click="previewControlTower(invTypeScaffolding.typeId);">
                                <posfit-control-tower-select inv-type="invType"></posfit-control-tower-select>
                                <div data-ng-show="$parent.$parent.selectedTypeId == invTypeScaffolding.typeId">
                                    <button class="btn btn-sm btn-info"
                                            data-ng-click="selectTower(invTypeScaffolding.typeId)">
                                        Use This Tower
                                    </button>
                                    <button class="btn btn-sm btn-success"
                                            data-ng-click="displayFactionControlTowers(invTypeScaffolding.typeId)">
                                        Show Faction
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-ng-repeat="invTypeScaffolding in collection.invTypes">
                        <div class="row" data-ng-show="$parent.$parent.selectedParentInvTypeId == invTypeScaffolding.typeId">
                            <div data-ng-repeat="factionTypeId in $parent.$parent.factionControlTowers[invTypeScaffolding.typeId]"
                                 data-ng-init="invType = getInvType(factionTypeId)"
                                 data-ng-click="$parent.$parent.$parent.selectedTypeId = factionTypeId"
                                 class="col-sm-3 text-center">
                                <div class="well control-tower-well {{ $parent.$parent.$parent.selectedTypeId == factionTypeId ? 'control-tower-selected-faction' : '' }}"
                                     data-ng-click="previewFactionControlTower(factionTypeId)">
                                    <posfit-control-tower-select inv-type="invType"></posfit-control-tower-select>
                                    <div data-ng-show="$parent.$parent.$parent.selectedTypeId == factionTypeId">
                                        <button class="btn btn-sm btn-info"
                                                data-ng-click="selectTower(factionTypeId)">
                                            Use This Tower
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="well control-tower-details" data-ng-show="null === selectedTypeId && undefined !== size">
                Tip: Click a tower to show its attributes. Then, click "Use Tower" to proceed to the fitting screen, or "Show Faction" to see additional tower types.
            </div>
            <div class="well control-tower-details" data-ng-show="null !== selectedTypeId">
                <div data-ng-repeat="collection in controlTowers">
                    <div data-ng-repeat="invTypeScaffolding in collection.invTypes"
                         data-ng-init="invType = getInvType(invTypeScaffolding.typeId)">
                        <div data-ng-show="$parent.$parent.selectedTypeId == invTypeScaffolding.typeId" class="row">
                            <posfit-control-tower-summary inv-type="invType"></posfit-control-tower-summary>
                       </div>
                    </div>
                </div>
                <div data-ng-repeat="invTypeIds in factionControlTowers">
                    <div data-ng-repeat="typeId in invTypeIds"
                         data-ng-init="invType = getInvType(typeId)">
                        <div data-ng-show="$parent.$parent.selectedTypeId == typeId" class="row">
                            <posfit-control-tower-summary inv-type="invType"></posfit-control-tower-summary>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 visible-lg-block">&nbsp;</div>
</div>