<div data-ng-controller="ViewCtrl" class="starbase-view">
    <div class="jumbotron" data-ng-if="null !== error">
        <h1>Error Loading Tower</h1>
        <p>{{ error }}</p>
    </div>
    <div data-ng-if="currentTowerData.readOnly">
        <div class="starbase-info">
            <ng-include src="'/partials/current-tower-info.html'"></ng-include>
        </div>
        <ng-include src="'/partials/current-tower-modules.html'"></ng-include>
        <div class="right-column text-center">
            <h4>Actions</h4>
            <a class="btn btn-primary btn-lg btn-block" data-ng-click="editTower();">Edit</a>
        </div>
    </div>
</div>