<!DOCTYPE html>
<html data-ng-app="posfitApp">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Starbase Planner{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/slate/bootstrap.min.css">
    {%  stylesheets
        '../app/Resources/public/css/*'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {%  endstylesheets %}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js" ></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-route.js" ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.6/ZeroClipboard.min.js" ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ng-clip/0.2.6/ng-clip.min.js" ></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('js/vendor/angular-cache/dist/angular-cache.min.js') }}"></script>
    <script src="{{ asset('js/vendor/angular-bootstrap/ui-bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js') }}"></script>
    <script src="{{ asset('js/vendor/angular-recursion/angular-recursion.min.js') }}"></script>
    <script src="{{ asset('js/vendor/ng-focus-on/ng-focus-on.min.js') }}"></script>
    <script src="{{ asset('js/cldr-en.js') }}"></script>
    <script src="{{ asset('js/harmony-collections.min.js') }}"></script>
    <script src="{{ asset('js/ByteBufferAB.min.js') }}"></script>
    <script src="{{ asset('js/ProtoBuf.min.js') }}"></script>
    {%  javascripts
        '@GbsLogisticsPosFitFrontendBundle/Resources/public/js/*'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {%  endjavascripts %}
</head>
<body>
<div class="navbar" data-ng-controller="NavBarCtrl">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-left">
                <img src="https://image.eveonline.com/Corporation/98057873_32.png" />
                <div class="btn-group" dropdown>
                    <button class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle>
                        Starbase Planner <b class="caret"></b>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li data-ng-click="newTower()"><a href>New Tower</a></li>
                        <li><a href="#/legal">Legal</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
