{% extends "::base.html.twig" %}

{% block title %}
PosFit :: Jasmine Test Runner
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("jasmine/jasmine.css") }}" />
<style type="text/css">
html,body {
    overflow: auto !important;
}
</style>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('jasmine/jasmine.js') }}"></script>
<script type="text/javascript" src="{{ asset('jasmine/jasmine-html.js') }}"></script>
<script type="text/javascript" src="{{ asset('jasmine/boot.js') }}"></script>
<script type="text/javascript" src="{{ asset('jasmine/angular-mocks.js') }}"></script>
<script type="text/javascript" src="{{ asset('jasmine/q.js') }}"></script>
{% for file in testFiles %}
<script type="text/javascript" src="{{ asset('bundles/gbslogisticsposfitfrontend/js/test/' ~ file) }}"></script>
{% endfor %}
{% endblock %}

{% block body %}
{% endblock %}
