html,body {
    height: 100%;
    overflow: hidden;
}
.navbar {
    min-height: 34px !important;
    margin-bottom: 0 !important;
}

ul,.filtered-module-container {
    padding-left: 10px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

li.inv-type {
    padding: 0;
    cursor: pointer;
}

img.inv-type-icon {
    width: 40px;
    height: 40px;
    padding-right: 5px;
}

li.group-scaffolding {
    cursor: pointer;
}

div.inv-type-name-container {
    height: 40px;
}

div.inv-type-name-container img {
    float: left;
}

div.inv-type-name {
    height: 19px;
    padding-bottom: 1px;
}

.label-faction {
    background-color: rgb(16, 56, 12);
    border: 1px dotted rgb(36, 131, 24);
    cursor: pointer;
}

div.inv-type-faction {
    height: 19px;
}

.inv-type-attribute-container {
    float: right;
    height: 40px;
    margin-right: 5px;
}

.inv-type-cpu {
    height: 19px;
    padding-bottom: 1px;
    text-align: right;
}

.inv-type-grid {
    height: 19px;
    text-align: right;
}

.module-filter {
    height: 30px;
    position: static;
}

.module-selector-container {
    height: calc(100% - 145px);
    top: 145px;
    position: absolute;
}
.module-selector {
    height: 100%;
    margin-left: -10px;
    overflow-y: scroll;
    padding: 0 15px 0 0 !important;
}

.starbase-info {
    height: 145px;
}

.sidebar {
    position: absolute;
    height: 100%;
}

.modules {
    position: absolute;
    height: calc(100% - 34px);
    margin-right: auto;
    overflow-y: auto;
}

.module-selector-spacer {
    height: 50px;
}

@media (min-width: 768px) {
    .sidebar {
        width: 373px;
    }

    .modules {
        width: 373px;
    }

    .right-column {
        margin-left: 377px;
    }

    .module-selector {
        width: 373px;
    }

    .starbase-info {
        width: 373px;
    }

    .starbase-info-right {
        width: 277px;
    }

    .shield-information-container {
        width: 170px;
    }

    .shield-information-container-right {
        margin-left: 180px;
    }

    .starbase-view {
        width: 750px;
    }

    .starbase-view .right-column {
        width: 160px;
    }
}

@media (min-width: 992px) {
    .sidebar {
        width: 483px;
    }

    .modules {
        width: 483px;
    }

    .starbase-view .modules,
    .starbase-view .starbase-info {
        margin-left: 93px;
    }

    .starbase-edit .right-column {
        margin-left: 487px;
    }

    .starbase-view .right-column {
        margin-left: 580px;
    }

    .module-selector {
        width: 483px;
    }

    .starbase-info {
        width: 483px;
    }

    .starbase-info-right {
        width: 383px;
    }

    .shield-information-container {
        width: 223px;
    }

    .shield-information-container-right {
        margin-left: 233px;
    }

    .starbase-view {
        width: 970px;
    }

    .starbase-view .right-column {
        width: 300px;
    }
}

@media (min-width: 1200px) {
    .sidebar {
        width: 583px;
    }

    .modules {
        width: 583px;
    }

    .starbase-view .modules,
    .starbase-view .starbase-info {
        margin-left: 127px;
    }

    .starbase-edit .right-column {
        margin-left: 587px;
    }

    .starbase-view .right-column {
        margin-left: 716px;
    }

    .module-selector {
        width: 583px;
    }

    .starbase-info {
        width: 583px;
    }

    .starbase-info-right {
        width: 479px;
    }

    .shield-information-container {
        width: 270px;
    }

    .shield-information-container-right {
        margin-left: 280px;
    }

    .starbase-view {
        width: 1170px;
    }
}

.control-tower-type {
    margin-top: 15px;
}

.control-tower-well {
    cursor: pointer;

}
.control-tower-well:hover {
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.control-tower-well.control-tower-selected {
    border-radius: 7px;
    outline: none;
    border-color: #9eedca !important;
    box-shadow: 0 0 10px #9eedca !important;
}

.control-tower-well.control-tower-selected-faction {
    border-radius: 7px;
    outline: none;
    border-color: #ed6852 !important;
    box-shadow: 0 0 10px #ed6852 !important;
}

.control-tower-description {
    white-space: pre-line;
}

.control-tower-attributes {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

.control-tower-fuel-icon-sm {
    width: 16px;
    height: 16px;
}

.text-amarr {
    color: #f4f805;
}

.starbase-info-left {
    width: 64px;
}

.starbase-info-right {
    margin-left: 10px;
}

.progress.progress-attribute {
    margin-bottom: 5px !important;
    position: relative;
}

.progress.progress-attribute span {
    position: absolute;
    top: 0;
    right: 0;
}

.progress span {
    text-shadow: 0 0 3px #111111;
}

.starbase-edit {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.tower-select, .starbase-view {
    position: fixed;
    left: 0;
    right: 0;
    top: 34px;
    bottom: 0;
    overflow-y: auto !important;
}

.tower-select {
    width: 100%;
}

.shield-information {
    position: relative;
}

.shield-information-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
}

.shield-resonance {
    display: inline-block;
    width: 50%;
}

.shield-resonance .progress {
    display: inline-block;
    width: calc(100% - 25px);
    position: relative;
    margin-bottom: 0 !important;
}

.shield-resonance .progress span {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
}

.shield-resonance img {
    vertical-align: top;
}

.starbase-view {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.starbase-info h4 {
    overflow-x: hidden;
    white-space: nowrap;
}

.starbase-view .right-column {
    position: absolute;
    top: 0;
    height: calc(100% - 34px);
    margin-right: auto;
}
